/* collapse all     Ctrl + k + 0 */
/* expand all       Ctrl + k + j */
/* word wrap toggle Alt + z */
:root{

    --color-header:green;
    --background-color-header:palegreen;

    --color-body:white;
    --color-body:green;

    --color-footer:green;
    --background-color-footer:palegreen;

    --vertical-scroll-indicator-container-width:0.5rem;
    --vertical-scroll-indicator-width:0.25rem;

    --background-color-body:lightskyblue ;
    --background-color-body:grey ;
    --background-color-body:paleturquoise ;

}

canvas {
    
    position: relative;
    top:0;

	/* cursor: crosshair; */
	display: block;

}

*{

    padding:0;
    margin:0;

}
h1 {

    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;

}
h2 {

    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;  

    padding-bottom: 0;
    margin-bottom: 0;

}
h3 {

    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;  

}
h4 {

    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;  

}
hr{

    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;  

}

ol {

    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px; 

}
ul {

    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px; 

}
p {

    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;    

}
blockquote {

    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px; 

}

*,*:before,*:after{

    box-sizing: border-box;

}
html {

    scroll-behavior: smooth;

    /*  pushed footer to bottom - method 3 */
        /* height: 100%; */
    /*  pushed footer to bottom - method 3 */

}
body{

    /*  pushed footer to bottom - method 3 */
        /* display:flex; */
        /* flex-direction: column; */
        /* height: 100%; */
    /*  pushed footer to bottom - method 3 */

    /* min-height: 100lvh; */
    /* height: -webkit-fill-available; */
    /* height: 100lvh; */
    height: 100%;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: 'Reenie Beanie', cursive; */
    /* font-family: 'Indie Flower', cursive; */
    /* font-size: clamp(2rem,2vw,5rem); */
    /* font-size: 2rem; */

    color:var(--color-body);
    /* user-select: none; */

    background-color: var(--background-color-body);

}
body::-webkit-scrollbar{

    display: none;

}
.mySEOelement{
    position:fixed;
    top:0;
    left:0;
    opacity:0;
    width:1px;
    min-height:1px;
    z-index: -100;
}

.site-content-wrapper{

    /* display:flex;
    flex-direction: column; */

    /* color:var(--background-color-body); */
    /* background-color:var(--background-color-body); */

    /* border:3px solid red; */

}
header{


    position:sticky;
    top:0;
    left:0;
    width:100%;

    padding-left:var(--header-padding-left-and-right);
    padding-right:var(--header-padding-left-and-right);

    z-index: 100;

    color:var(--color-header);
    text-shadow: 2px 2px white;
    color:green;
    text-shadow: 2px 2px chartreuse;

    background-color: white;
    background-color: var(--background-color-header);
    background-image: var(--background-color-header);

    border-bottom:1px solid chartreuse;

    /* border:3px solid blue; */

}
.header-bar{

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.one-on-one-teaching-logo{
    width:80px;
    margin-right:10px;
    margin-left:10px;
    /* margin:auto; */
    border:1px solid chartreuse;
    border-radius: 10px;
}

/* HEADER BAR ICON - FOR SLIDE OUT MENU - START */
.header-bar-icon-container{

    display:flex;
    flex-direction: column;
    padding:0.5rem;
    padding-bottom:0rem;
    margin-left:1.5rem;
    cursor:pointer;
    border:1px solid green;
    border-radius: 5px;

}
.header-bar-icon-container:hover{
    background-color: var(--color-tt-yellow);
    background-color: white;
}
.header-bar-icon{
    min-height:0.2rem;
    width:2.5rem;
    margin-bottom:0.5rem;
    background-color: green;
}
/* HEADER BAR ICON - FOR SLIDE OUT MENU -END */

.header-bar-name{

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
nav{

    display:none;
    color:var(--color-header);
    background-color: white;

    /* border:3px solid white; */

}
.scroll-indicator-wrapper{

    display:flex;
    display: none;
    flex-direction: column;
    justify-content:flex-start;

}
.scroll-indicator-container{

    display:none;

    position: absolute;
    margin-top:auto;
    left:0;
    width:100%;

    min-height:var(--scroll-indicator-height);
    background: white;

}
.scroll-indicator{

    position: absolute;
    top:0;
    left:0;
    min-height:var(--scroll-indicator-height);
    background: chartreuse;
    width:0%;

}
main{

    display:flex;
    flex-direction: column;

    /* re-instate the default body margin, best placed inside main */
        margin: 8px;
    /* re-instate the default body margin, best placed inside main */
    margin-top:1.5rem;
    margin-right:1.5rem;
    margin-bottom:1.5rem;
    margin-left:1.5rem;

    color:var(--color-body);
    /* background-color: var(--background-color-body); */

    /* border:3px solid red; */

}
.vertical-scroll-indicator-container{

    position:fixed;
    top:0;
    left:0;
    min-height:100%;
    width:var(--vertical-scroll-indicator-container-width);
    background: white;
    z-index: 1100;

    /* border:1px solid red; */

}
.vertical-scroll-indicator{

    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left:var(--vertical-scroll-indicator-width);
    width:var(--vertical-scroll-indicator-width);
    background: green;
    background: black;
    min-height:0%;

}

.home-page{

}

.spacer-element-1{

    position:relative;

    margin-left:20%;
    margin-right:20%;

    min-height:80lvh;

    background-image: url("../media-partial/AdobeStock_187572164_50percent.jpg");
    /* background-image: 
        url("../media-partial/AdobeStock_604195089 - 10percent - cropped.jpeg"),
        url("../media-partial/dd.jpg"); */

    background-repeat: no-repeat;

    background-attachment:fixed;

    /* background-size: width height; */
    /* background-size: 10% 10%; */
    background-size: contain;
    /* background-size: cover; */
    /* background-size: 100%; */
    /* background-size: cover; */

    /* padding: 10px; */

    /* background-position: x x-offset y y-offset; */
    /* background-position:  top center; */
    /* background-position:  bottom center; */
    /* background-position:  top right,bottom left; */
    background-position: center center;

    /* opacity:0.5;

    background-color: rgba(0, 0, 255, 0.3);
    background-color: rgba(255, 0, 0, 0.3);
    background-color: rgba(0, 255, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);

    background-blend-mode: multiply; */

    /* background-color: aquamarine; */

    border: 1px solid green;
    border-radius: 25px;

}
.spacer-text-1{

    position:absolute;
    bottom: 20px;
    right: 20px;
    padding:20px;
    color: green;
    /* border: 1px solid red; */
    border-radius: 20px;
    background-color: aliceblue;

}
.spacer-element-2{

    position:relative;

    margin-left:20%;
    margin-right:20%;

    min-height:80lvh;

    background-image: url("../media-partial/AdobeStock_477106187.jpeg");

    background-repeat: no-repeat;

    background-attachment:fixed;

    background-size: contain;
    /* background-size: cover; */
    /* background-size: 100%; */
    /* background-size:cover; */

    background-position:  center center;

    /* background-color: paleturquoise; */

    border: 1px solid green;
    border-radius: 25px;

}
.spacer-text-2{

    position:absolute;
    bottom: 20px;
    right: 20px;
    padding:20px;
    color: green;
    /* border: 1px solid red; */
    border-radius: 20px;
    background-color: aliceblue;

}
.spacer-element-3{

    position:relative;

    margin-left:20%;
    margin-right:20%;

    min-height:80lvh;

    background-image: url("../media-partial/AdobeStock_441942840.jpeg");

    background-repeat: no-repeat;

    background-attachment:fixed;

    background-size: contain;
    /* background-size: cover; */
    /* background-size: 100%; */
    /* background-size:cover; */

    background-position:  center center;

    /* background-color: palegoldenrod; */

    border: 1px solid green;
    border-radius: 25px;

}
.spacer-text-3{

    position:absolute;
    bottom: 20px;
    right: 20px;
    padding:20px;
    color: green;
    /* border: 1px solid red; */
    border-radius: 20px;
    background-color: aliceblue;

}
.spacer-element-4{

    position:relative;

    margin-left:20%;
    margin-right:20%;

    min-height:80lvh;

    background-image: url("../media-partial/AdobeStock_403043867.jpeg");

    background-repeat: no-repeat;

    background-attachment:fixed;

    background-size: contain;
    /* background-size: cover; */
    /* background-size: 100%; */
    /* background-size:cover; */

    background-position:  center center;

    /* background-color: silver; */

    border: 1px solid green;
    border-radius: 25px;

}
.spacer-text-4{

    position:absolute;
    bottom: 20px;
    right: 20px;
    padding:20px;
    color: green;
    /* border: 1px solid red; */
    border-radius: 20px;
    background-color: aliceblue;

}
.spacer-element-5{

    position:relative;

    margin-left:20%;
    margin-right:20%;

    min-height:80lvh;

    background-image: url("../media-partial/AdobeStock_338644860.jpeg");        

    background-repeat: no-repeat;

    background-attachment:fixed;

    background-size: contain;
    /* background-size: cover; */
    /* background-size: 100%; */
    /* background-size:cover; */

    background-position:  center center;

    /* background-color: silver; */

    /* border: 1px solid green; */
    /* border-radius: 25px; */

}
.spacer-text-5{

    position:absolute;
    bottom: 20px;
    right: 20px;
    padding:20px;
    color: green;
    /* border: 1px solid red; */
    border-radius: 20px;
    background-color: aliceblue;

}
.spacer-element-6{

    position:relative;

    margin-left:20%;
    margin-right:20%;

    min-height:80lvh;

    background-image: url("../media-partial/AdobeStock_119783063.jpeg");        

    background-repeat: no-repeat;

    background-attachment:fixed;

    background-size: contain;
    /* background-size: cover; */
    /* background-size: 100%; */
    /* background-size:cover; */

    background-position:  center center;

    /* background-color: silver; */

    /* border: 1px solid green; */
    /* border-radius: 25px; */

}
.spacer-text-6{

    position:absolute;
    bottom: 20px;
    right: 20px;
    padding:20px;
    color: green;
    /* border: 1px solid red; */
    border-radius: 20px;
    background-color: aliceblue;

}
.spacer-element-7{

    position:relative;

    margin-left:20%;
    margin-right:20%;

    min-height:80lvh;

    background-image: url("../media-partial/AdobeStock_480985787.jpeg");        

    background-repeat: no-repeat;

    background-attachment:fixed;

    background-size: contain;
    /* background-size: cover; */
    /* background-size: 100%; */
    /* background-size:cover; */

    background-position:  center center;

    /* background-color: silver; */

    /* border: 1px solid green; */
    /* border-radius: 25px; */

}
.spacer-text-7{

    position:absolute;
    bottom: 20px;
    right: 20px;
    padding:20px;
    color: green;
    /* border: 1px solid red; */
    border-radius: 20px;
    background-color: aliceblue;

}
.spacer-element-8{

    position:relative;

    margin-left:20%;
    margin-right:20%;

    min-height:80lvh;

    background-image: url("../media-partial/AdobeStock_348140497.jpeg");        

    background-repeat: no-repeat;

    background-attachment:fixed;

    background-size: contain;
    /* background-size: cover; */
    /* background-size: 100%; */
    /* background-size:cover; */

    background-position:  center center;

    /* background-color: silver; */

    /* border: 1px solid green; */
    /* border-radius: 25px; */

}
.spacer-text-8{

    position:absolute;
    bottom: 20px;
    right: 20px;
    padding:20px;
    color: green;
    /* border: 1px solid red; */
    border-radius: 20px;
    background-color: aliceblue;

}
.spacer-element-9{

    position:relative;

    margin-left:0%;
    margin-right:0%;

    min-height:80lvh;

    background-image: url("../media-partial/AdobeStock_498725748.jpeg");        

    background-repeat: no-repeat;

    background-attachment:fixed;

    background-size: contain;
    /* background-size: cover; */
    /* background-size: 100%; */
    /* background-size:cover; */

    background-position:  center center;

    /* background-color: silver; */

    /* border: 1px solid green; */
    /* border-radius: 25px; */

}
.spacer-text-9{

    position:absolute;
    bottom: 20px;
    right: 20px;
    padding:20px;
    color: green;
    /* border: 1px solid red; */
    border-radius: 20px;
    background-color: aliceblue;

}
section{

    position:relative;
    top:0;
    left:0;

    color:var(--color-body);

    /* background-color: var(--background-color-body); */

    /* border:3px solid white; */

}
  
footer{

    display:flex;
    flex-direction: column;
    /* flex-direction: row; */
    align-items: center;

    /*  pushed footer to bottom - method 3 */
        /* margin-top:auto; */
    /*  pushed footer to bottom - method 3 */

    padding-left:var(--footer-padding-left-and-right);
    padding-right:var(--footer-padding-left-and-right);
    padding-bottom: 10px;;

    color:var(--color-footer);
    background-color: var(--background-color-footer);
    /* text-shadow: 2px 2px black; */
    
    background-image: var(--background-color-footer);

    border-top:1px solid chartreuse;
    border-bottom:1px solid chartreuse;

    z-index: 100;

    /* border:3px solid yellow; */

}


/* BUTTON PLACEMENT - BUTTON PLACEMENT - BUTTON PLACEMENT - BUTTON PLACEMENT - BUTTON PLACEMENT - BUTTON PLACEMENT - BUTTON PLACEMENT - BUTTON PLACEMENT -  */
/* BUTTON PLACEMENT - BUTTON PLACEMENT - BUTTON PLACEMENT - BUTTON PLACEMENT - BUTTON PLACEMENT - BUTTON PLACEMENT - BUTTON PLACEMENT - BUTTON PLACEMENT -  */

@media (orientation: portrait) {

    main{
        /* margin-top:1.5rem; */
        margin-right:0.5rem;
        /* margin-bottom:1.5rem; */
        margin-left:1.0rem;            
    }

    .x-home-page{
        background-image: url("../media-partial/AdobeStock_348865250 - 10percent.jpeg");
        background-image: url("../media-partial/AdobeStock_205484505 - 10percent.jpeg");
        /* background-size: cover; */
        background-size: auto,70%;
        background-repeat: no-repeat;
        background-position:  top center;
        /* opacity: 0.1; */
    }

    .spacer-element-1{

        margin:0;
        min-height:30lvh;
        background-size:contain;
        /* background-size:cover; */
        background-image: url("../media-partial/AdobeStock_187572164_50percent.jpg");
        background-attachment: unset;
        background-position: 0% 100%;
        background-position: center;

        border:unset;
        border-radius: unset;
        width:110%;
        left:-5%;

    }
    .spacer-text-1{

        /* bottom: 50%; */
        /* top:50%; */
        /* top:1%; */
        /* right:1%; */
        /* bottom:1%; */
        right:20px;
        bottom:10px;
        max-width: 50%;
        margin:auto;
        /* left:0; */
        padding:5px;
        text-align: center;
        /* vertical-align: middle; */
        /* border:1px solid green; */
        /* background-color: unset; */

    }
    .spacer-element-2{

        margin:0;
        min-height:30lvh;
        background-size:contain;
        /* background-size:cover; */
        background-image: url("../media-partial/AdobeStock_477106187.jpeg");
        background-attachment: unset;
        background-position: 0% 100%;
        background-position: center;

        border:unset;
        border-radius: unset;
        width:110%;
        left:-5%;
        
    }
    .spacer-text-2{

        /* bottom: 50%; */
        /* top:50%; */
        /* top:1%; */
        /* right:1%; */
        /* bottom:1%; */
        right:20px;
        bottom:10px;
        max-width: 50%;
        margin:auto;
        /* left:0; */
        padding:5px;
        text-align: center;
        /* vertical-align: middle; */
        /* border:1px solid green; */
        /* background-color: unset; */

    }
    .spacer-element-3{

        margin:0;
        min-height:30lvh;
        background-size:contain;
        /* background-size:cover; */
        background-image: url("../media-partial/AdobeStock_441942840.jpeg");
        background-attachment: unset;
        background-position: 0% 100%;
        background-position: center;

        border:unset;
        border-radius: unset;
        width:110%;
        left:-5%;

    }
    .spacer-text-3{

        /* bottom: 50%; */
        /* top:50%; */
        /* top:1%; */
        /* right:1%; */
        /* bottom:1%; */
        right:20px;
        bottom:10px;
        max-width: 50%;
        margin:auto;
        /* left:0; */
        padding:5px;
        text-align: center;
        /* vertical-align: middle; */
        /* border:1px solid green; */
        /* background-color: unset; */

    }
    .spacer-element-4{

        margin:0;
        min-height:30lvh;
        background-size:contain;
        /* background-size:cover; */
        background-image: url("../media-partial/AdobeStock_403043867.jpeg");
        background-attachment: unset;
        background-position: 0% 100%;
        background-position: center;

        border:unset;
        border-radius: unset;
        width:110%;
        left:-5%;

    }
    .spacer-text-4{

        /* bottom: 50%; */
        /* top:50%; */
        /* top:1%; */
        /* right:1%; */
        /* bottom:1%; */
        right:20px;
        bottom:10px;
        max-width: 50%;
        margin:auto;
        /* left:0; */
        padding:5px;
        text-align: center;
        /* vertical-align: middle; */
        /* border:1px solid green; */
        /* background-color: unset; */

    }
    .spacer-element-5{
        margin:0;
        min-height:30lvh;
        /* background-size:contain; */
        background-size:cover;
        background-image: url("../media-partial/AdobeStock_338644860.jpeg");        
        background-attachment: unset;
        background-position: 0% 100%;
        background-position: center;

        border:unset;
        /* border-radius: unset; */
        width:110%;
        left:-5%;

    }
    .spacer-text-5{

        /* bottom: 50%; */
        /* top:50%; */
        /* top:1%; */
        /* right:1%; */
        /* bottom:1%; */
        right:20px;
        bottom:10px;
        max-width: 50%;
        margin:auto;
        /* left:0; */
        padding:5px;
        text-align: center;
        /* vertical-align: middle; */
        /* border:1px solid green; */
        /* background-color: unset; */

    }
    .spacer-element-6{
        margin:0;
        min-height:30lvh;
        /* background-size:contain; */
        background-size:cover;
        background-image: url("../media-partial/AdobeStock_119783063.jpeg");        
        background-attachment: unset;
        background-position: 0% 100%;
        background-position: center;

        border:unset;
        /* border-radius: unset; */
        width:110%;
        left:-5%;

    }
    .spacer-text-6{

        /* bottom: 50%; */
        /* top:50%; */
        /* top:1%; */
        /* right:1%; */
        /* bottom:1%; */
        right:20px;
        bottom:10px;
        max-width: 50%;
        margin:auto;
        /* left:0; */
        padding:5px;
        text-align: center;
        /* vertical-align: middle; */
        /* border:1px solid green; */
        /* background-color: unset; */

    }
    .spacer-element-7{
        margin:0;
        min-height:30lvh;
        /* background-size:contain; */
        background-size:cover;
        background-image: url("../media-partial/AdobeStock_480985787.jpeg");        
        background-attachment: unset;
        background-position: 0% 100%;
        background-position: center;

        border:unset;
        /* border-radius: unset; */
        width:110%;
        left:-5%;

    }
    .spacer-text-7{

        /* bottom: 50%; */
        /* top:50%; */
        /* top:1%; */
        /* right:1%; */
        /* bottom:1%; */
        right:20px;
        bottom:10px;
        max-width: 50%;
        margin:auto;
        /* left:0; */
        padding:5px;
        text-align: center;
        /* vertical-align: middle; */
        /* border:1px solid green; */
        /* background-color: unset; */

    }
    .spacer-element-8{
        margin:0;
        min-height:30lvh;
        /* background-size:contain; */
        background-size:cover;
        background-image: url("../media-partial/AdobeStock_348140497.jpeg");        
        background-attachment: unset;
        background-position: 0% 100%;
        background-position: center;

        border:unset;
        /* border-radius: unset; */
        width:110%;
        left:-5%;

    }
    .spacer-text-8{

        /* bottom: 50%; */
        /* top:50%; */
        /* top:1%; */
        /* right:1%; */
        /* bottom:1%; */
        right:20px;
        bottom:10px;
        max-width: 50%;
        margin:auto;
        /* left:0; */
        padding:5px;
        text-align: center;
        /* vertical-align: middle; */
        /* border:1px solid green; */
        /* background-color: unset; */

    }
    .spacer-element-9{
        margin:0;
        min-height:15lvh;
        background-size:contain;
        /* background-size:cover; */
        background-image: url("../media-partial/AdobeStock_498725748.jpeg");        
        background-attachment: unset;
        background-position: 0% 100%;
        background-position: center;

        border:unset;
        /* border-radius: unset; */
        width:110%;
        left:-5%;

    }
    .spacer-text-9{

        /* bottom: 50%; */
        /* top:50%; */
        /* top:1%; */
        /* right:1%; */
        /* bottom:1%; */
        right:20px;
        bottom:10px;
        max-width: 50%;
        margin:auto;
        /* left:0; */
        padding:5px;
        text-align: center;
        /* vertical-align: middle; */
        /* border:1px solid green; */
        /* background-color: unset; */

    }

    /* h    margin:0;t
    ml{
        min-height:-webkit-fill-available;
   -element- }
    
   body{
        min-height:100vh;
        min-height:-webkit-fill-available;
    } -element-*/

    /* body:after{
        content:"";
        position:fixed; stretch a fixed position to the whole screen
 
        top:-element-0;
        min-height:100vh; fix for mobile browser address bar appearing disappearing
        left:0;
        ;
        z-index:-1; needed to keep in the background
        background: url("../media-partial/AdobeStock_348865250 - 10percent.jpeg") center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    } */
}

/* @media screen and (max-device-width: 480px){
    body{
        -webkit-text-size-adjust:none;
        font-family:Helvetica, Arial, Verdana, sans-serif;
        padding:5px;
    }
    .home-page{
        background-image: url("../media-partial/AdobeStock_131321079 - cropped.jpeg");
        opacity:0.5;
        max-width: 100%;
        min-height: auto;
    }
} */